/*
=================================================
MISC
=================================================
*/
.quick-links i {
    font-size: 3em;
  }
  .to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
  }
  .nav-link {
    color: #E0AF2E;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .nav-link:hover {
    color:#E0AF2E;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .btn-unique {
    background-color: #E0AF2E;
    color: #000;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .btn-unique:hover {
    background-color: #E0AF2E;
    color: #fff;
  }
  /*
  =================================================
  NAVBAR
  =================================================
  */
  .navbar-brand {
    font-weight: 900;
    text-transform: uppercase;
    color: #E0AF2E;
  }
  
  /*
  =================================================
  HERO SECTION
  =================================================
  */
  .hero-section {
    background-color: #5532e3;
    background-image: url("img/bg-image.png");
    background-position: center;
    background-size: cover;
  }
  
  .hero-section h1 {
    color: #E0AF2E;
    font-size: 56px;
    font-weight: 900;
    font-family: "Poppins", serif;
  
    font-style: normal;
  }
  
  .hero-section .lead {
    color: #fff; 
   
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    font-size: 22px;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .hero-section .dartconfig {
    color: #fff; 
   
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
  }
  
  /*
  =================================================
  SECTIONS
  =================================================
  */
  .bg-aquamarine {
    background-color: aquamarine;
  }
  
  .video iframe {
    width: 100%;
    max-width: 700px;
    height: 392px;
  }
  .map iframe {
    width: 100%;
    height: 600px;
  }
  .presentation iframe {
    width: 100%;
    max-width: 856px;
    height: 518px;
  }
  /*
  =================================================
  FOOTER
  =================================================
  */
  .footer h5 {
    text-transform: uppercase;
  }
  
  
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
 .AlanTurning-img {
  position: relative;
  padding-bottom: 56.25%;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;

 }